@use "@/app/styles/variables" as *;

.trainer-quiz-page {
  padding: 48px 16px 80px;

  &__container {
    max-width: 960px;
    margin: 0 auto;
  }
}

@media (max-width: $mobile) {
  .trainer-quiz-page {
    padding: 28px 12px 60px;
  }
}
